
@{
    ViewBag.Title = "Search";
    var listSearch = (PagedList<Code.Models.Models.MDSearchDSTruyen>)ViewBag.ListSearch;
    var ListLBL = (List<Code.Models.Models.MDDanhSachBoTruyenLuotBinhLuan>)ViewBag.ListLBL;
    var ListDiemDG = (List<Code.Models.Models.MDDanhSachBoTruyenDiemDanhGia>)ViewBag.ListDiemDG;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlWeb = @Session["URL_WEB"];
}
@using PagedList;
@using PagedList.Mvc;
<div class="container">
    @*Slide*@
    @{Html.RenderAction("Slide", "Home", new { area = "" });}
    @*End slide*@
    <div class="row">
        <!--Noi dung trái-->
        <div id="" class="center-side col-md-8">
            <div class="Module Module-163">
                <div class="ModuleContent">
                    <div class="items">
                        <h1 class="page-title">Danh sách truyện <i class="bi bi-arrow-repeat"></i></h1>
                        @if (listSearch.Count == 0)
                        {
                            <div class="row">
                                <div id="ctl00_divCenter" class="full-width col-sm-12">
                                    <section class="error-404 not-found">
                                        <div class="entry-content">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                </div>
                                                <div class="col-sm-8">
                                                    <h2>Trang không tìm thấy</h2>
                                                    <p>Không có bộ truyện nào.</p>
                                                </div>
                                            </div>
                                            <h3 class="error-msg">Trong lúc này, bạn có thể thăm quan mục khác</h3>
                                            <p>Trong lúc chúng tôi đang giải quyết vấn đề của bạn, bạn có thể thử:</p>
                                            <ul>
                                                <li>Sửa lại đường dẫn truy cập.</li>
                                                <li>Trở lại <a href="/">trang chủ</a>, và xem một vài truyện mới đăng.</li>
                                                <li>Sử dụng chức năng tìm kiếm <strong>bên trên</strong>.</li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        }
                        <div class="row">
                            @foreach (var item in listSearch)
                            {
                                <div class="item">
                                    <figure class="clearfix">
                                        <div class="image">
                                            <a title="Truyện tranh @item.TenTruyen" href="@Url.Action("General_Information", "Truyen", new { area = "", id = item.ID_Truyen })">
                                                <img src="@urlWeb@item.LinkAnhBG" class="lazy" alt="Truyện tranh @item.TenTruyen">
                                            </a>
                                            <div class="view clearfix">
                                                <span class="pull-left">
                                                    @if (item.SoLuongTruyCap is null)
                                                    {<i class="bi bi-eye-fill"> 0 &ensp;</i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-eye-fill"> @item.SoLuongTruyCap &ensp;</i>
                                                    }
                                                    @foreach (var itembl in ListLBL)
                                                    {
                                                        if (itembl.ID_Truyen == item.ID_Truyen)
                                                        {
                                                            <i class="bi bi-chat-dots"> @itembl.LuotBinhLuan &ensp;</i>
                                                        }
                                                    }
                                                    @foreach (var itemdg in ListDiemDG)
                                                    {
                                                        if (itemdg.ID_Truyen == item.ID_Truyen)
                                                        {
                                                            <i class="bi bi-hand-thumbs-up"> @itemdg.DiemTB &ensp;</i>
                                                        }
                                                    }

                                                </span>
                                            </div>
                                        </div>
                                        <figcaption>
                                            <h3>
                                                <a class="jtip" data-jtip="#@item.ID_Truyen" href="@Url.Action("General_Information", "Truyen", new { area = "", id = item.ID_Truyen })">@item.TenTruyen</a>
                                            </h3>
                                        </figcaption>
                                    </figure>
                                    <div class="box_tootip" style="display:none;" id="@item.ID_Truyen">
                                        <div class="box_li">
                                            <div class="title">@item.TenTruyen</div>
                                            <div class="clearfix">
                                                <div class="box_img">
                                                    <a title="@item.TenTruyen" href="@Url.Action("General_Information", "Truyen", new { area = "", id = item.ID_Truyen })">
                                                        <img class="img_a" src="@urlWeb@item.LinkAnhBG" alt="@item.TenTruyen">
                                                    </a>
                                                </div>
                                                <div class="message_main">
                                                    <p><label>Tên khác:</label>@item.TenTruyen</p>
                                                    <p><label>Thể loại:</label>@item.TenLoai</p>
                                                    <p><label>Tác giả:</label>@item.TacGia</p>
                                                    <p><label>Tình trạng:</label>Đang tiến hành</p>
                                                    <p><label>Lượt xem:</label>@item.SoLuongTruyCap</p>
                                                    <p><label>Ngày khởi tạo:</label>@item.NgayDang.ToString("dd/M/yyyy")</p>
                                                </div>
                                            </div>
                                            <div class="box_text">
                                                @Html.Raw(item.MoTa)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="ctl00_mainContent_ctl00_divPager" class="pagination-outter">
                        <ul class="pagination">
                            <div>
                                @Html.PagedListPager(listSearch, page => Url.Action("Search", new { page = page }))
                            </div>
                            <div>
                                Page @(listSearch.PageCount < listSearch.PageNumber ? 1 : listSearch.PageNumber) of @listSearch.PageCount
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Noi dung trái-->
        <!--Noi dung phai-->
        <div id="" class="right-side col-md-4 cmszone">
            @*NewUpdate_Right*@
            @{Html.RenderAction("NewUpdate_Right", "Home", new { area = "" });}
            @*End NewUpdate_Right*@
            @*Hot_right*@
            @{Html.RenderAction("Hot_Right", "Home", new { area = "" });}
            @*End Hot_right*@
            @*Binh luan*@
            @{Html.RenderAction("BinhLuanNew_Right", "Home", new { area = "" });}
            @*End Binh luan*@
        </div>
        <!--End Noi dung phai-->
    </div>
</div>
