
<!DOCTYPE html>
<html id="ctl00_Html1" lang="vi">
<head id="ctl00_Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        Đọc truyện tranh online - Truyện gì cũng có - Truyện lậu
    </title>
    <link href="~/Assets/css/styles.min.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Assets/assets/img/lg_Icon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57670566-6"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-57670566-6');</script>
    <link rel="stylesheet" type="text/css" href="https://st.nettruyenco.com/Data/Sites/1/skins/comic/css/font-manga.min.css?v=3" />
</head>
<body id="ctl00_Body" class=" homepage vi-vn site1">
    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTk3NjY2MTIwNw9kFgJmD2QWAgIBDxYCHgRsYW5nBQJ2aRYCAgMPFgIeBWNsYXNzBRUgaG9tZXBhZ2Ugdmktdm4gc2l0ZTEWAgIDD2QWDAIPDw8WBB4IQ3NzQ2xhc3MFE2FsdGNvbnRlbnQxIGNtc3pvbmUeBF8hU0ICAmRkAhEPDxYGHwIFCCBjbXN6b25lHwMCAh4HVmlzaWJsZWhkZAITDw8WBB8CBRRjZW50ZXItc2lkZSBjb2wtbWQtOB8DAgJkZAIVDw8WBB8CBRtyaWdodC1zaWRlIGNvbC1tZC00IGNtc3pvbmUfAwICZBYCAgEPZBYCAgEPZBYCZg8PFgIfBGhkZAIXDw8WBB8CBRNhbHRjb250ZW50MiBjbXN6b25lHwMCAmRkAh8PDxYCHwRoZGRkRkoRy9e60uLYsIasDAxP4jnM+Qo=" />
    </div>
    <header class="header">
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a class="logo" title="Truyện tranh lậu" href="/">
                            <img class="logo" alt="Logo Website truyện lậu" src="https://images.viblo.asia/a87852d0-d60c-4a7c-ae42-0bfb6679ecb3.gif">
                        </a>
                    </div>
                    <div class="navbar-form navbar-left hidden-xs search-box comicsearchbox">
                        <div class="input-group">
                            <input type="text" class="searchinput form-control" id="txtKeyword" placeholder="Tìm truyện..." autocomplete="off" />
                            <div class="input-group-btn">
                                <input type="submit" value="" class=" searchbutton btn btn-default" />
                            </div>
                        </div>
                    </div>
                    <i class="fa fa-lightbulb-o toggle-dark"></i>
                    <button type="button" class="search-button-icon visible-xs" aria-label="Search">
                        <i class="fa fa-search"></i>
                    </button>
                    <button type="button" class="navbar-toggle" aria-label="Menu">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <script>var _0x630d = ["\x2E\x74\x6F\x67\x67\x6C\x65\x2D\x64\x61\x72\x6B", "\x71\x75\x65\x72\x79\x53\x65\x6C\x65\x63\x74\x6F\x72", "\x75\x6E\x64\x65\x66\x69\x6E\x65\x64", "\x63\x6C\x61\x73\x73\x4C\x69\x73\x74", "\x70\x72\x6F\x74\x6F\x74\x79\x70\x65", "\x64\x61\x72\x6B\x2D\x74\x68\x65\x6D\x65", "\x63\x6C\x69\x63\x6B", "\x63\x6C\x61\x73\x73", "\x67\x65\x74\x41\x74\x74\x72\x69\x62\x75\x74\x65", "\x66\x61\x20\x66\x61\x2D\x74\x6F\x67\x67\x6C\x65\x2D\x6F\x66\x66\x20\x74\x6F\x67\x67\x6C\x65\x2D\x64\x61\x72\x6B", "\x72\x65\x6D\x6F\x76\x65\x49\x74\x65\x6D", "\x61\x64\x64\x45\x76\x65\x6E\x74\x4C\x69\x73\x74\x65\x6E\x65\x72", "\x66\x61\x20\x66\x61\x2D\x74\x6F\x67\x67\x6C\x65\x2D\x6F\x6E\x20\x74\x6F\x67\x67\x6C\x65\x2D\x64\x61\x72\x6B", "\x73\x65\x74\x41\x74\x74\x72\x69\x62\x75\x74\x65", "\x64\x61\x72\x6B", "\x63\x6F\x6E\x74\x61\x69\x6E\x73", "\x62\x6F\x64\x79", "\x61\x64\x64", "\x72\x65\x6D\x6F\x76\x65", "\x70\x61\x72\x65\x6E\x74\x4E\x6F\x64\x65", "\x72\x65\x6D\x6F\x76\x65\x43\x68\x69\x6C\x64"]; var toggleDarkObj = document[_0x630d[1]](_0x630d[0]); if ((typeof Storage !== _0x630d[2]) && (_0x630d[3] in Element[_0x630d[4]]) == true) { if (typeof localStorage[_0x630d[5]] !== _0x630d[2]) { setDarkTheme(toggleDarkObj, true) }; toggleDarkObj[_0x630d[11]](_0x630d[6], function (_0xe37dx2) { if (this[_0x630d[8]](_0x630d[7]) == _0x630d[9]) { setDarkTheme(this, true); localStorage[_0x630d[5]] = 1 } else { setDarkTheme(this, false); if (typeof localStorage[_0x630d[5]] !== _0x630d[2]) { localStorage[_0x630d[10]](_0x630d[5]) } } }); function setDarkTheme(_0xe37dx4, _0xe37dx5) { if (_0xe37dx5 == true) { _0xe37dx4[_0x630d[13]](_0x630d[7], _0x630d[12]); if (!document[_0x630d[16]][_0x630d[3]][_0x630d[15]](_0x630d[14])) { document[_0x630d[16]][_0x630d[3]][_0x630d[17]](_0x630d[14]) } } else { _0xe37dx4[_0x630d[13]](_0x630d[7], _0x630d[9]); if (document[_0x630d[16]][_0x630d[3]][_0x630d[15]](_0x630d[14])) { document[_0x630d[16]][_0x630d[3]][_0x630d[18]](_0x630d[14]) } } } } else { if (toggleDarkObj[_0x630d[19]]) { toggleDarkObj[_0x630d[19]][_0x630d[20]](toggleDarkObj) } }</script>
                <ul class="nav-account list-inline hidden-xs pull-right">
                    <li>
                        <script>var globalOpts = {}; globalOpts.init = false; globalOpts.siteRoot = '';</script>
                    </li>
                </ul>
                <ul class="nav-account list-inline hidden-xs pull-right">
                    @if (Session["Login"] != null || Session["Cap"] != null)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle  register-link fas btn btn-outline-dark bi bi-person-circle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self" href="@Url.Action("Index", "Home", new { area = "" })"> @Session["UserName"]</a>
                            <ul class="dropdown-menu megamenu">
                                <li>
                                    <div class="clearfix">
                                        <ul class="nav">
                                            @if ((int)Session["Cap"] == 1 || (int)Session["Cap"] == 2)
                                            {
                                            <li>
                                                @Html.ActionLink(" Quản lý", "Login", "Home", new { area = "" }, new { @class = " bi bi-clipboard-data", @style = "color:black" })
                                                <script>var globalOpts = {}; globalOpts.token = 'RieS+SqQgT8420X5qYvBH2auvCyDwrydhLsbE2LaHCw=';</script>
                                            </li>
                                            }
                                            <li>
                                                <a style="color:black" class="dropdown-item" href="@Url.Action("Information_User", "TaiKhoan", new { area = "" })">
                                                    Thông tin tài khoản
                                                </a>
                                            </li>
                                            <li>
                                                <a style="color:black" class="dropdown-item" href="@Url.Action("Update_Information_User", "TaiKhoan", new { area = "" })">
                                                    Cài đặt tài khoản
                                                </a>
                                            </li>
                                            <li>
                                                <a style="color:black" class="dropdown-item" href="@Url.Action("Update_Pass_User", "TaiKhoan", new { area = "" })">
                                                    Đổi mật khẩu
                                                </a>
                                            </li>
                                            <li>
                                                <hr />
                                                <div class="dropdown-divider"></div>
                                                <a style="color:black" href="@Url.Action("LogOut", "Home", new { area = ""})" onclick="return confirm('Bạn có chắc muốn đăng xuất ?');"> Đăng xuất</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="login-link">
                            @Html.ActionLink(" Tài khoản", "Login", "Home", new { area = "" }, new { @class = " register-link fas btn btn-outline-dark bi bi-person-circle" })
                            <script>var globalOpts = {}; globalOpts.token = 'RieS+SqQgT8420X5qYvBH2auvCyDwrydhLsbE2LaHCw=';</script>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>
    <nav class="main-nav hidden-xs">
        <div class="inner">
            <div class="container">
                <div class='Module Module-144'>
                    <div class='ModuleContent'>
                        <ul class="nav navbar-nav main-menu">
                            <li class="active">
                                <a target="_self" href="/">
                                    <i class="bi bi-house-fill"></i>
                                    <span class="visible-xs">Trang chủ</span>
                                </a>
                            </li>
                            <li>
                                <a target="_self" href="@Url.Action("HotList", "Home", new { area = "" })">Hot</a>
                            </li>
                            <li>
                                @if (Session["Cap"] is null)
                                {
                                    <a target="_self" href="@Url.Action("Login", "Home", new { area = "" })">Theo dõi</a>
                                }
                                else
                                {
                                    <a target="_self" href="@Url.Action("Follow", "Home", new { area = "" })">Theo dõi</a>
                                }
                            </li>
                            <li>
                                @if (Session["Cap"] is null)
                                {
                                    <a target="_self" href="@Url.Action("Login", "Home", new { area = "" })">Lịch sử</a>
                                }
                                else
                                {
                                    <a target="_self" href="@Url.Action("History", "Home", new { area = "" })">Lịch sử</a>
                                }
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self" href="@Url.Action("Index", "Home", new { area = "" })">Thể loại <i class="bi bi-caret-down-square"></i></a>
                                <ul class="dropdown-menu megamenu">
                                    <li>
                                        <div class="clearfix">
                                            <div class="col-sm-3">
                                                <ul class="nav">
                                                    <li>
                                                        <a title="Sports" data-title="Đúng như tên gọi, những môn thể thao như bóng đá, bóng chày, bóng chuyền, đua xe, cầu lông,... là một phần của thể loại này" href="@Url.Action("TheLoai", "Home", new { area = "", id = 26 })" target="_self">Sports</a>
                                                    </li>
                                                    <li>
                                                        <a title="Smut" data-title="Những truyện có nội dung hơi nhạy cảm, đặc biệt là liên quan đến tình dục" href="@Url.Action("TheLoai", "Home", new { area = "", id = 25 })" target="_self">
                                                            <strong>Smut</strong>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a title="Shounen Ai" data-title="Thể loại có nội dung về tình yêu giữa những chàng trai trẻ, mang tính chất lãng mạn nhưng ko đề cập đến quan hệ tình dục" href="@Url.Action("TheLoai", "Home", new { area = "", id = 24 })" target="_self">Shounen Ai</a>
                                                    </li>
                                                    <li>
                                                        <a title="Shounen" data-title="Đối tượng hướng tới của thể loại này là phái nam. Nội dung của những bộ manga này thường liên quan đến đánh nhau và/hoặc bạo lực (ở mức bình thường, không thái quá)" href="@Url.Action("TheLoai", "Home", new { area = "", id = 23 })" target="_self">Shounen</a>
                                                    </li>
                                                    <li>
                                                        <a title="Shoujo Ai" data-title="Thể loại quan hệ hoặc liên quan tới đồng tính nữ, thể hiện trong các mối quan hệ trên mức bình thường giữa các nhân vật nữ trong các manga, anime" href="@Url.Action("TheLoai", "Home", new { area = "", id = 22 })" target="_self">Shoujo Ai</a>
                                                    </li>
                                                    <li>
                                                        <a title="Soft Yuri" data-title="Girl x Girl. Nặng hơn Shoujo Ai tí" href="@Url.Action("TheLoai", "Home", new { area = "", id = 21 })" target="_self">Soft Yuri</a>
                                                    </li>
                                                    <li>
                                                        <a title="Seinen" data-title="Thể loại của manga thường nhằm vào những đối tượng nam 18 đến 30 tuổi, nhưng người xem có thể lớn tuổi hơn, với một vài bộ truyện nhắm đến các doanh nhân nam quá 40. Thể loại này có nhiều phong cách riêng biệt , nhưng thể loại này có những nét riêng biệt, thường được phân vào những phong cách nghệ thuật rộng hơn và phong phú hơn về chủ đề, có các loại từ mới mẻ tiên tiến đến khiêu dâm" href="@Url.Action("TheLoai", "Home", new { area = "", id = 20 })" target="_self">
                                                            <strong>Seinen</strong>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a title="Sci-fi" data-title="Bao gồm những chuyện khoa học viễn tưởng, đa phần chúng xoay quanh nhiều hiện tượng mà liên quan tới khoa học, công nghệ, tuy vậy thường thì những câu chuyện đó không gắn bó chặt chẽ với các thành tựu khoa học hiện thời, mà là do con người tưởng tượng ra" href="@Url.Action("TheLoai", "Home", new { area = "", id = 19 })" target="_self">Sci-fi</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <ul class="nav">
                                                    <li>
                                                        <a title="School Life" data-title="Trong thể loại này, ngữ cảnh diễn biến câu chuyện chủ yếu ở trường học" href="@Url.Action("TheLoai", "Home", new { area = "", id = 18 })" target="_self">School Life</a>
                                                    </li>
                                                    <li>
                                                        <a title="Romance" data-title="Thường là những câu chuyện về tình yêu, tình cảm lãng mạn. Ớ đây chúng ta sẽ lấy ví dụ như tình yêu giữa một người con trai và con gái, bên cạnh đó đặc điểm thể loại này là kích thích trí tưởng tượng của bạn về tình yêu" href="@Url.Action("TheLoai", "Home", new { area = "", id = 17 })" target="_self">
                                                            <strong>Romance</strong>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a title="Psychological" data-title="Thể loại liên quan đến những vấn đề về tâm lý của nhân vật ( tâm thần bất ổn, điên cuồng ...)" href="@Url.Action("TheLoai", "Home", new { area = "", id = 16 })" target="_self">Psychological</a>
                                                    </li>
                                                    <li>
                                                        <a title="One shot" data-title="Những truyện ngắn, thường là 1 chapter" href="@Url.Action("TheLoai", "Home", new { area = "", id = 15 })" target="_self">
                                                            <strong>One shot</strong>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a title="Mystery" data-title="Thể loại thường xuất hiện những điều bí ấn không thể lí giải được và sau đó là những nỗ lực của nhân vật chính nhằm tìm ra câu trả lời thỏa đáng" href="@Url.Action("TheLoai", "Home", new { area = "", id = 14 })" target="_self">Mystery</a>
                                                    </li>
                                                    <li>
                                                        <a title="Mecha" data-title="Mecha, còn được biết đến dưới cái tên meka hay mechs, là thể loại nói tới những cỗ máy biết đi (thường là do phi công cầm lái)" href="@Url.Action("TheLoai", "Home", new { area = "", id = 13 })" target="_self">Mecha</a>
                                                    </li>
                                                    <li>
                                                        <a title="Mature" data-title="Thể loại dành cho lứa tuổi 17+ bao gồm các pha bạo lực, máu me, chém giết, tình dục ở mức độ vừa" href="@Url.Action("TheLoai", "Home", new { area = "", id = 12 })" target="_self">Mature</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <ul class="nav">
                                                    <li>
                                                        <a title="Martial Arts" data-title="Giống với tên gọi, bất cứ gì liên quan đến võ thuật trong truyện từ các trận đánh nhau, tự vệ đến các môn võ thuật như akido, karate, judo hay taekwondo, kendo, các cách né tránh" href="@Url.Action("TheLoai", "Home", new { area = "", id = 11 })" target="_self">Martial Arts</a>
                                                    </li>
                                                    <li>
                                                        <a title="Manhwa" data-title="Truyện tranh Hàn Quốc, đọc từ trái sang phải" href="@Url.Action("TheLoai", "Home", new { area = "", id = 10 })" target="_self">
                                                            <strong>Manhwa</strong>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a title="Manhua" data-title="Truyện tranh của Trung Quốc" href="@Url.Action("TheLoai", "Home", new { area = "", id = 9 })" target="_self">
                                                            <strong>Manhua</strong>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a title="Manga" data-title="Truyện tranh của Nhật Bản" href="@Url.Action("TheLoai", "Home", new { area = "", id = 8 })" target="_self">Manga</a>
                                                    </li>
                                                    <li>
                                                        <a title="Josei" data-title="Thể loại của manga hay anime được sáng tác chủ yếu bởi phụ nữ cho những độc giả nữ từ 18 đến 30. Josei manga có thể miêu tả những lãng mạn thực tế , nhưng trái ngược với hầu hết các kiểu lãng mạn lí tưởng của Shoujo manga với cốt truyện rõ ràng, chín chắn" href="@Url.Action("TheLoai", "Home", new { area = "", id = 7 })" target="_self">Josei</a>
                                                    </li>
                                                    <li>
                                                        <a title="Isekai" data-title="Thể loại thường xuất hiện những điều bí ấn không thể lí giải được và sau đó là những nỗ lực của nhân vật chính nhằm tìm ra câu trả lời thỏa đáng" href="@Url.Action("TheLoai", "Home", new { area = "", id = 6 })" target="_self">Isekai</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <ul class="nav">
                                                    <li>
                                                        <a title="Horror" data-title="Horror là: rùng rợn, nghe cái tên là bạn đã hiểu thể loại này có nội dung thế nào. Nó làm cho bạn kinh hãi, khiếp sợ, ghê tởm, run rẩy, có thể gây sock - một thể loại không dành cho người yếu tim" href="@Url.Action("TheLoai", "Home", new { area = "", id = 5 })" target="_self">Horror</a>
                                                    </li>
                                                    <li>
                                                        <a title="Historical" data-title="Thể loại có liên quan đến thời xa xưa" href="@Url.Action("TheLoai", "Home", new { area = "", id = 4 })" target="_self">Historical</a>
                                                    </li>
                                                    <li>
                                                        <a title="Harem" data-title="Thể loại truyện tình cảm, lãng mạn mà trong đó, nhiều nhân vật nữ thích một nam nhân vật chính" href="@Url.Action("TheLoai", "Home", new { area = "", id = 3 })" target="_self">Harem</a>
                                                    </li>
                                                    <li>
                                                        <a title="Gender Bender" data-title="Là một thể loại trong đó giới tính của nhân vật bị lẫn lộn: nam hoá thành nữ, nữ hóa thành nam..." href="@Url.Action("TheLoai", "Home", new { area = "", id = 2 })" target="_self">Gender Bender</a>
                                                    </li>
                                                    <li>
                                                        <a title="Fantasy" data-title="Thể loại xuất phát từ trí tưởng tượng phong phú, từ pháp thuật đến thế giới trong mơ thậm chí là những câu chuyện thần tiên" href="@Url.Action("TheLoai", "Home", new { area = "", id = 1 })" target="_self">Fantasy</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-12 hidden-xs">
                                                <p class="tip">
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a rel="nofollow" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Xếp hạng <i class="bi bi-caret-down-square"></i></a>
                                <div class="dropdown-menu navbar-dropdown">
                                    <a rel="nofollow" href="@Url.Action("HotList", "Home", new { area = "" })">
                                        <i class="bi bi-eye-fill"></i>
                                        Top all
                                    </a>
                                    <a href="@Url.Action("Index", "Home", new { area = "" })">
                                        <strong>
                                            <i class="bi bi-bar-chart-steps"></i>
                                            Truyện full
                                        </strong>
                                    </a>
                                    <a rel="nofollow" href="@Url.Action("TopPoint", "Home", new { area = "" })">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Yêu Thích
                                    </a>
                                    <a rel="nofollow" href="@Url.Action("HotList", "Home", new { area = "" })">
                                        <i class="bi bi-eye-fill"></i>
                                        Top eyes
                                    </a>
                                    <a rel="nofollow" href="@Url.Action("New", "Home", new { area = "" })">
                                        <i class="bi bi-cloud-arrow-up-fill"></i>
                                        Truyện mới
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a target="_self" href="#">Tìm truyện</a>
                            </li>
                            <li>
                                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/groups/nettruyenonline/">Group</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="main">
        <!--googleoff: all-->
        <div class="container" style="padding:0;max-width:1000px">
            <div class="notify_block" style="margin:0;border-radius:0">
                <div class="info">
                    <em class="bi bi-brightness-high"></em>
                </div>
                Web truyện tranh lậu
            </div>
        </div>
        <!--googleon: all-->
        @*Body*@
        @RenderBody()
        @*End body*@
    </main>
</body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 copyright" itemscope itemtype="#">
                <div class="mrt10">
                    <div class="fb-page lazy-module" data-type="facebook" data-href="https://www.facebook.com/profile.php?id=100018376242396" data-height="160" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/profile.php?id=100018376242396" class="fb-xfbml-parse-ignore"><a rel="nofollow noopener" target="_blank" href="https://www.facebook.com/profile.php?id=100018376242396">Link my facebook</a></blockquote></div>
                </div>
            </div>
            <div class="col-sm-8">
                <center>
                    <p>
                        - THÔNG TIN LIÊN HỆ -
                        <br />
                        Họ và tên: Tường Đức Kiên
                        <br />
                        SĐT: 0333278085
                        <br />
                        Email: tdkien18092000@gmail.com
                    </p>
                </center>
            </div>
        </div>
    </div>
    <div style="display:none">
</footer>
<div class="navbar-collapse">
    <div class="search-box comicsearchbox">
        <div class="input-group">
            <input type="text" class="searchinput form-control" placeholder="Tìm truyện..." autocomplete="off" />
            <div class="input-group-btn">
                <input type="submit" value="" class="searchbutton btn btn-default" />
            </div>
        </div>
    </div>
    <div class='Module Module-144'>
        <div class='ModuleContent'>
            <ul class="nav navbar-nav main-menu">
                <li class="active">
                    <a target="_self" href="/">
                        <i class="bi bi-house-fill"></i>
                        <span class="visible-xs">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a target="_self" href="@Url.Action("HotList", "Home", new { area = "" })">Hot</a>
                </li>
                <li>
                    @if (Session["Cap"] is null)
                    {
                        <a target="_self" href="@Url.Action("Login", "Home", new { area = "" })">Theo dõi</a>
                    }
                    else
                    {
                        <a target="_self" href="@Url.Action("Follow", "Home", new { area = "" })">Theo dõi</a>
                    }
                </li>
                <li>
                    @if (Session["Cap"] is null)
                    {
                        <a target="_self" href="@Url.Action("Login", "Home", new { area = "" })">Lịch sử</a>
                    }
                    else
                    {
                        <a target="_self" href="@Url.Action("History", "Home", new { area = "" })">Lịch sử</a>
                    }
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" target="_self" href="@Url.Action("Index", "Home", new { area = "" })">Thể loại <i class="bi bi-caret-down-square"></i></a>
                    <ul class="dropdown-menu megamenu">
                        <li>
                            <div class="clearfix">
                                <div class="col-sm-3">
                                    <ul class="nav">
                                        <li>
                                            <a title="Sports" data-title="Đúng như tên gọi, những môn thể thao như bóng đá, bóng chày, bóng chuyền, đua xe, cầu lông,... là một phần của thể loại này" href="@Url.Action("TheLoai", "Home", new { area = "", id = 26 })" target="_self">Sports</a>
                                        </li>
                                        <li>
                                            <a title="Smut" data-title="Những truyện có nội dung hơi nhạy cảm, đặc biệt là liên quan đến tình dục" href="@Url.Action("TheLoai", "Home", new { area = "", id = 25 })" target="_self">
                                                <strong>Smut</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Shounen Ai" data-title="Thể loại có nội dung về tình yêu giữa những chàng trai trẻ, mang tính chất lãng mạn nhưng ko đề cập đến quan hệ tình dục" href="@Url.Action("TheLoai", "Home", new { area = "", id = 24 })" target="_self">Shounen Ai</a>
                                        </li>
                                        <li>
                                            <a title="Shounen" data-title="Đối tượng hướng tới của thể loại này là phái nam. Nội dung của những bộ manga này thường liên quan đến đánh nhau và/hoặc bạo lực (ở mức bình thường, không thái quá)" href="@Url.Action("TheLoai", "Home", new { area = "", id = 23 })" target="_self">Shounen</a>
                                        </li>
                                        <li>
                                            <a title="Shoujo Ai" data-title="Thể loại quan hệ hoặc liên quan tới đồng tính nữ, thể hiện trong các mối quan hệ trên mức bình thường giữa các nhân vật nữ trong các manga, anime" href="@Url.Action("TheLoai", "Home", new { area = "", id = 22 })" target="_self">Shoujo Ai</a>
                                        </li>
                                        <li>
                                            <a title="Soft Yuri" data-title="Girl x Girl. Nặng hơn Shoujo Ai tí" href="@Url.Action("TheLoai", "Home", new { area = "", id = 21 })" target="_self">Soft Yuri</a>
                                        </li>
                                        <li>
                                            <a title="Seinen" data-title="Thể loại của manga thường nhằm vào những đối tượng nam 18 đến 30 tuổi, nhưng người xem có thể lớn tuổi hơn, với một vài bộ truyện nhắm đến các doanh nhân nam quá 40. Thể loại này có nhiều phong cách riêng biệt , nhưng thể loại này có những nét riêng biệt, thường được phân vào những phong cách nghệ thuật rộng hơn và phong phú hơn về chủ đề, có các loại từ mới mẻ tiên tiến đến khiêu dâm" href="@Url.Action("TheLoai", "Home", new { area = "", id = 20 })" target="_self">
                                                <strong>Seinen</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Sci-fi" data-title="Bao gồm những chuyện khoa học viễn tưởng, đa phần chúng xoay quanh nhiều hiện tượng mà liên quan tới khoa học, công nghệ, tuy vậy thường thì những câu chuyện đó không gắn bó chặt chẽ với các thành tựu khoa học hiện thời, mà là do con người tưởng tượng ra" href="@Url.Action("TheLoai", "Home", new { area = "", id = 19 })" target="_self">Sci-fi</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="nav">
                                        <li>
                                            <a title="School Life" data-title="Trong thể loại này, ngữ cảnh diễn biến câu chuyện chủ yếu ở trường học" href="@Url.Action("TheLoai", "Home", new { area = "", id = 18 })" target="_self">School Life</a>
                                        </li>
                                        <li>
                                            <a title="Romance" data-title="Thường là những câu chuyện về tình yêu, tình cảm lãng mạn. Ớ đây chúng ta sẽ lấy ví dụ như tình yêu giữa một người con trai và con gái, bên cạnh đó đặc điểm thể loại này là kích thích trí tưởng tượng của bạn về tình yêu" href="@Url.Action("TheLoai", "Home", new { area = "", id = 17 })" target="_self">
                                                <strong>Romance</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Psychological" data-title="Thể loại liên quan đến những vấn đề về tâm lý của nhân vật ( tâm thần bất ổn, điên cuồng ...)" href="@Url.Action("TheLoai", "Home", new { area = "", id = 16 })" target="_self">Psychological</a>
                                        </li>
                                        <li>
                                            <a title="One shot" data-title="Những truyện ngắn, thường là 1 chapter" href="@Url.Action("TheLoai", "Home", new { area = "", id = 15 })" target="_self">
                                                <strong>One shot</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Mystery" data-title="Thể loại thường xuất hiện những điều bí ấn không thể lí giải được và sau đó là những nỗ lực của nhân vật chính nhằm tìm ra câu trả lời thỏa đáng" href="@Url.Action("TheLoai", "Home", new { area = "", id = 14 })" target="_self">Mystery</a>
                                        </li>
                                        <li>
                                            <a title="Mecha" data-title="Mecha, còn được biết đến dưới cái tên meka hay mechs, là thể loại nói tới những cỗ máy biết đi (thường là do phi công cầm lái)" href="@Url.Action("TheLoai", "Home", new { area = "", id = 13 })" target="_self">Mecha</a>
                                        </li>
                                        <li>
                                            <a title="Mature" data-title="Thể loại dành cho lứa tuổi 17+ bao gồm các pha bạo lực, máu me, chém giết, tình dục ở mức độ vừa" href="@Url.Action("TheLoai", "Home", new { area = "", id = 12 })" target="_self">Mature</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="nav">
                                        <li>
                                            <a title="Martial Arts" data-title="Giống với tên gọi, bất cứ gì liên quan đến võ thuật trong truyện từ các trận đánh nhau, tự vệ đến các môn võ thuật như akido, karate, judo hay taekwondo, kendo, các cách né tránh" href="@Url.Action("TheLoai", "Home", new { area = "", id = 11 })" target="_self">Martial Arts</a>
                                        </li>
                                        <li>
                                            <a title="Manhwa" data-title="Truyện tranh Hàn Quốc, đọc từ trái sang phải" href="@Url.Action("TheLoai", "Home", new { area = "", id = 10 })" target="_self">
                                                <strong>Manhwa</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Manhua" data-title="Truyện tranh của Trung Quốc" href="@Url.Action("TheLoai", "Home", new { area = "", id = 9 })" target="_self">
                                                <strong>Manhua</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Manga" data-title="Truyện tranh của Nhật Bản" href="@Url.Action("TheLoai", "Home", new { area = "", id = 8 })" target="_self">Manga</a>
                                        </li>
                                        <li>
                                            <a title="Josei" data-title="Thể loại của manga hay anime được sáng tác chủ yếu bởi phụ nữ cho những độc giả nữ từ 18 đến 30. Josei manga có thể miêu tả những lãng mạn thực tế , nhưng trái ngược với hầu hết các kiểu lãng mạn lí tưởng của Shoujo manga với cốt truyện rõ ràng, chín chắn" href="@Url.Action("TheLoai", "Home", new { area = "", id = 7 })" target="_self">Josei</a>
                                        </li>
                                        <li>
                                            <a title="Isekai" data-title="Thể loại thường xuất hiện những điều bí ấn không thể lí giải được và sau đó là những nỗ lực của nhân vật chính nhằm tìm ra câu trả lời thỏa đáng" href="@Url.Action("TheLoai", "Home", new { area = "", id = 6 })" target="_self">Isekai</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="nav">
                                        <li>
                                            <a title="Horror" data-title="Horror là: rùng rợn, nghe cái tên là bạn đã hiểu thể loại này có nội dung thế nào. Nó làm cho bạn kinh hãi, khiếp sợ, ghê tởm, run rẩy, có thể gây sock - một thể loại không dành cho người yếu tim" href="@Url.Action("TheLoai", "Home", new { area = "", id = 5 })" target="_self">Horror</a>
                                        </li>
                                        <li>
                                            <a title="Historical" data-title="Thể loại có liên quan đến thời xa xưa" href="@Url.Action("TheLoai", "Home", new { area = "", id = 4 })" target="_self">Historical</a>
                                        </li>
                                        <li>
                                            <a title="Harem" data-title="Thể loại truyện tình cảm, lãng mạn mà trong đó, nhiều nhân vật nữ thích một nam nhân vật chính" href="@Url.Action("TheLoai", "Home", new { area = "", id = 3 })" target="_self">Harem</a>
                                        </li>
                                        <li>
                                            <a title="Gender Bender" data-title="Là một thể loại trong đó giới tính của nhân vật bị lẫn lộn: nam hoá thành nữ, nữ hóa thành nam..." href="@Url.Action("TheLoai", "Home", new { area = "", id = 2 })" target="_self">Gender Bender</a>
                                        </li>
                                        <li>
                                            <a title="Fantasy" data-title="Thể loại xuất phát từ trí tưởng tượng phong phú, từ pháp thuật đến thế giới trong mơ thậm chí là những câu chuyện thần tiên" href="@Url.Action("TheLoai", "Home", new { area = "", id = 1 })" target="_self">Fantasy</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 hidden-xs">
                                    <p class="tip">
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a rel="nofollow" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Xếp hạng <i class="bi bi-caret-down-square"></i></a>
                    <div class="dropdown-menu navbar-dropdown">
                        <a rel="nofollow" href="@Url.Action("HotList", "Home", new { area = "" })">
                            <i class="bi bi-eye-fill"></i>
                            Top all
                        </a>
                        <a href="@Url.Action("Index", "Home", new { area = "" })">
                            <strong>
                                <i class="bi bi-bar-chart-steps"></i>
                                Truyện full
                            </strong>
                        </a>
                        <a rel="nofollow" href="@Url.Action("TopPoint", "Home", new { area = "" })">
                            <i class="bi bi-hand-thumbs-up"></i>
                            Yêu Thích
                        </a>
                        <a rel="nofollow" href="@Url.Action("HotList", "Home", new { area = "" })">
                            <i class="bi bi-cloud-arrow-up-fill"></i>
                            Truyện mới
                        </a>
                    </div>
                </li>
                <li>
                    <a target="_self" href="#">Tìm truyện</a>
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/groups/nettruyenonline/">Group</a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="nav-account list-inline">
        <li class="login-link">
            @Html.ActionLink(" Tài khoản", "Login", "Home", new { area = "" }, new { @class = " register-link fas btn btn-outline-dark bi bi-person-circle" })
            <script>var globalOpts = {}; globalOpts.token = 'RieS+SqQgT8420X5qYvBH2auvCyDwrydhLsbE2LaHCw=';</script>
        </li>
        @if (Session["Login"] != null || Session["Cap"] != null)
        {
            <li class="logout-link">
                <center>
                    <a href="@Url.Action("LogOut", "Home", new { area = ""})" onclick="return confirm('Bạn có chắc muốn đăng xuất ?');"> Đăng xuất</a>
                </center>
            </li>
        }
    </ul>
</div>
<a id="back-to-top">
    <i class="bi bi-chevron-double-up"></i>
</a>
<script src="~/Assets/js/jquery.min.js"></script>
<script src="~/Assets/js/owl.carousel.min.js"></script>
<script src="~/Assets/js/scripts.min.js"></script>
<!--googleoff: all-->
<script type="text/javascript" src="//m6pz5h8qi18jq1s7hjkytxn7sjc0zpxw5gks3vyk8dcxs2cstjgdxkp7t1eb.me/e1z2ixn6k0xmj5fhqjx82ckatj2xkad4k5tls8wt1kd3stjk1lz0xjqcls6fk2fi3j5fu1xo6irjzwti8srb.js"></script>
<script type="text/javascript">document.write(ghz.yz6vqp2w0xg7qivt6qxhwm("PHNjcmlwdCB0eXBlPSJ0ZXh0L2phdmFzY3JpcHQiIHNyYz0iLy9tNnB6NWg4cWkxOGpxMXM3aGpreXR4bjdzamMwenB4dzVna3MzdnlrOGRjeHMyY3N0amdkeGtwN3QxZWIubWUvYjVncDJ0aWdhMmdqOXNha3F5aTJvM2MwenF3dDF5cWgvazkydmgxY3l0OGZjdTJqZmEzd3RrNWF3OHJrMmZja3pxb3hraXM4ZDlvZC9xeHU1czJnajZvMXAyYzdqN3g1Yi5qcyI+PC9zY3JpcHQ+"));</script>
<!--googleon: all-->

</html>