@model Code.Models.Models.MDUpdateTruyenAD

@{
    ViewBag.Title = "Edit";
    var listAllLoai = (List<Code.Models.Models.MDDanhSachLoaiTruyen>)ViewBag.ListAll_LoaiTruyen;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAD.cshtml";
}

<h2>Edit</h2>

<script src="/Areas/Admin/Plugin/ckeditor/ckeditor.js"></script>
<div class="site-content" style="height: auto !important;">
    <div class="container" style="margin-top: 50px; height: auto !important;">
        <div class="row " style="height: auto !important;">
            <div class="main-col col-md-12 col-sm-12">
                <div class="c-blog__heading style-2 font-heading ">
                    <h2 class="h4">
                        <i class="bi bi-plus-square"></i>
                        Chỉnh sửa thông tin truyện
                    </h2>
                </div>
                <hr />
                <div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row justify-content-center">
                            <div class="col-xl-10 col-lg-12 col-md-9">

                                <div class="card o-hidden border-0 shadow-lg my-5">
                                    <div class="card-body p-0">
                                        <!-- Nested Row within Card Body -->
                                        <br />
                                        <div>
                                            <center>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </center>
                                        </div>
                                        <div class="p-5">
                                            <form class="user">
                                                <div class="form-group">
                                                    <div>
                                                        <p>Tên bộ truyện:</p>
                                                    </div>
                                                    @Html.EditorFor(model => model.TenTruyen, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Nhập tên bộ truyện vào đây" } })
                                                    @Html.ValidationMessageFor(model => model.TenTruyen, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <p>Loại truyện:</p>
                                                    </div>
                                                    <div class="row">
                                                        @foreach (var item in listAllLoai)
                                                        {
                                                            <div class="col-md-6 col-lg-3 col-sm-12">
                                                                @Html.RadioButtonFor(model => model.ID_LoaiTruyen, item.ID_LoaiTruyen)
                                                                @Html.Label(item.TenLoai, new { @class = "text-gray-800" })
                                                            </div>
                                                        }
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.ID_LoaiTruyen, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <p>Tên tác giả:</p>
                                                    </div>
                                                    @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Nhập tên tác giả vào đây" } })
                                                    @Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <p>Mô tả về bộ truyện:</p>
                                                    </div>
                                                    @Html.TextAreaFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Nhập mật khẩu" } })
                                                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                                                    <script>
                                                        CKEDITOR.replace("MoTa");
                                                    </script>
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <p>Link ảnh bìa: (URL)</p>
                                                    </div>
                                                    @Html.EditorFor(model => model.LinkAnhBG, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Sao chép link ảnh rồi nhập vào đây" } })
                                                    @Html.ValidationMessageFor(model => model.LinkAnhBG, "", new { @class = "text-danger" })
                                                </div>
                                                <hr>
                                                <div class="form-group">
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#UpdateTruyenModal">
                                                        <button class="btn btn-dark btn-user btn-block">Update</button>
                                                    </a>
                                                </div>
                                                <!-- UpdateTruyen Modal-->
                                                <center>
                                                    <div class="modal fade" id="UpdateTruyenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Kiểm tra bước cuối!</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">Bạn xác định là bạn muốn Update truyện ?</div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-dark btn-user btn-block" type="button" data-dismiss="modal"> Hủy </button>
                                                                    <button type="submit" class="btn btn-dark btn-user btn-block">Xác nhận</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </center>
                                            </form>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
